<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RenderTest</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        div {
            height: 500px;
            width: 500px;
            background-color: aquamarine;
            text-align: center;
            line-height: 500px;
            color: orangered;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<div>
    测试返回页面
    name: {{name}}
</div>
</body>
</html>